html{
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
    overflow: hidden;
}

div {
    margin:0;
    padding:0;
}
#content{
    height:100%;
    width:100%;
}
canvas{
    position: absolute;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border:1px solid black;
    /*width:100% !important;*/
    /*height:100% !important;*/
}

@font-face {
    font-family: '28-days-later';
    font-style: normal;
    src: url(GraphicUtils/28-days-later.ttf);
}
#bugfixer{
    font-family:"28-days-later";
    visibility:hidden;
}